.example-form {
  width: 500px;
  height: 525px;
  margin: 8px;
}

.example-full-width {
  width: 100%;
}

.dashboard-card {
  width: 500px;
  display: inline-block;
  margin-right: 15px;
}

.flex-container {
  background: #c7b39b url("http://weblabfon.com/_ld/0/60_002.jpg");
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-wrap: wrap;
}

.flex-item {
  width: 250px;
  height: 570px;
  padding: 16px;
  margin: 8px;
}

.card-ingredient {
  width: 200px;
  height: 260px;
  padding: 16px;
  margin: 8px;
}

.card-mini-info {
  width: 300px;
  height: 40px;
  padding: 8px;
  margin: 8px;
}

.description {
  margin: 4px;
  height: 100px;
  font-size: small;
}

.xz {
  background-color: orangered;
  color: white;
  margin-left: -16px;
  margin-right: -16px;
  font-size: large;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.xz-1 {
  background-color: gray;
  color: white;
  font-size: large;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.xz-2 {
  background-color: orangered;
  color: white;
  font-size: large;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.img-mini-ingredient-flex {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
}

.img-mini-item {
  width: 125px;
  height: 125px
}

